page-questionnaire2 {
    .app-background {
        background-color: white;
    }

    .car-progress {
        margin-top: 1em;
        height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .car-questionnaire {
        margin-top: 0.5em;
        h5 {
            color: color($colors,font-color);
            margin-bottom: 5px;
        }
        .regis-input {
            background-color: transparent;
            border-bottom: color($colors,font-color);
            font-size: 14px;
            font-weight: 400;
            color: color($colors,font-color);
            margin-top: 0px;
            margin-left: -10px;
            ion-label {
                color: color($colors,font-color);
                font-size: 14px;
                margin-bottom: -5px;
            }
            .select-md {
                padding: 15px 3px 0px 16px;
            }
            .select-md .select-icon .select-icon-inner {
                color: color($colors,font-color);
                margin-top: 2px;
            }
            .select-text {
                margin-top: 5px;
                margin-right: 5px;
            }
        }
        button[type=submit] {
            background-color: color($colors,button-color);
            font-size: 14px;
            height: 40px;
            bottom: -0.3em;
            box-shadow: none;
            font-weight: 400;
        }
        button[type=submit]:hover {
            background-color: color($colors,button-color);
        }
        .group-radio {
            padding-left: 3px;
            padding-top: 7px;
            background-color: transparent;
            color: color($colors,font-color);
            font-size: 14px;
            margin-bottom: -20px;
            div.item-inner {
                border-bottom: none;
            }
            div.radio-icon {
                width: 16px;
                height: 16px;
                border-width: 2px;
                border-color: color($colors,font-color);
            }
            .radio-md {
                margin: 9px 10px 9px 0;
            }
        }
    }

    .fix-button {
        position: fixed;
        left: 0;
        bottom: -4px;
        right: 0;
        .col {
            padding: 0px;
        }
        .button-full.button-outline {
            background-color: white;
            color: #FDB411;
            border: 1px solid #FDB411;
            border-bottom: none;
            border-left: none;
        }
    }

    .grid {
        margin-top:-3px;
        margin-left:-5px;
    }
}
