<ion-content padding class="app-background">
    <!--<div class="orderStatus" style="margin-top:2em;">
        <ul class="row">
            <li class="col done">Step 1</li>
            <li class="col done">Step 2</li>
            <li class="col">Step 3</li>
        </ul>
    </div>-->
    <form class="car-questionnaire" [formGroup]="questionnaireForm">
        <h3 text-center>รถยนต์</h3>
        <ion-item class="regis-input">
            <ion-label>ชื่อรถยนต์</ion-label>
            <ion-input type="text" style="margin-bottom: -20px;" required text-right formControlName="car_name"></ion-input>
        </ion-item>
        <ion-item class="regis-input">
            <ion-label>ยี่ห้อ</ion-label>
            <ion-select (ionChange)='getModel($event)' formControlName="brand" >
                <ion-option *ngFor="let item of cars | keys" value={{item.key}} on>{{item.key}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="regis-input">
            <ion-label>รุ่น</ion-label>
            <ion-select (ionChange)='getYear($event)' formControlName="model">
                <ion-option *ngFor="let item of models" value={{item}}>{{item}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="regis-input">
            <ion-label>ปี</ion-label>
            <ion-select (ionChange)='getEngine($event)'  formControlName="model_year">
                <ion-option *ngFor="let item of years | keys" value={{item.key}}>{{item.key}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="regis-input">
            <ion-label>สีรถยนต์</ion-label>
            <ion-select formControlName="model_color">
                <ion-option value="ขาว">ขาว</ion-option>
                <ion-option value="ดำ">ดำ</ion-option>
                <ion-option value="ทอง">ทอง</ion-option>
                <ion-option value="น้ำตาล">น้ำตาล</ion-option>
                <ion-option value="น้ำเงิน">น้ำเงิน</ion-option>
                <ion-option value="ฟ้า">ฟ้า</ion-option>
                <ion-option value="ม่วง">ม่วง</ion-option>
                <ion-option value="ส้ม">ส้ม</ion-option>
                <ion-option value="เขียว">เขียว</ion-option>
                <ion-option value="เงิน">เงิน</ion-option>
                <ion-option value="เทา">เทา</ion-option>
                <ion-option value="เหลือง">เหลือง</ion-option>
                <ion-option value="แดง">แดง</ion-option>
                <ion-option value="ครีม">ครีม</ion-option>
                <ion-option value="ชมพู">ชมพู</ion-option>
            </ion-select>
        </ion-item>
        <ion-row radio-group formControlName="model_gear">
            <ion-col col-3>
                <ion-item class="group-radio">
                    เกียร์
                </ion-item>
            </ion-col>
            <ion-col col-5>
                <ion-item class="group-radio">
                    <ion-radio value="1" item-left></ion-radio>
                    <ion-label>ธรรมดา</ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-4>
                <ion-item class="group-radio">
                    <ion-radio value="2" item-left></ion-radio>
                    <ion-label>ออโต้</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-item class="regis-input">
            <ion-label>ขนาดเครื่องยนต์ (CC.)</ion-label>
            <ion-select formControlName="model_engine">
                <ion-option *ngFor="let item of engines" value={{item}}>{{item.toFixed(1)}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="regis-input">
            <ion-label>ประเทศที่จดทะเบียน</ion-label>
            <ion-select formControlName="model_country">
                <ion-option value="England">อังกฤษ</ion-option>
                <ion-option >ญี่ปุ่น</ion-option>
                <ion-option >ไทย</ion-option>
                <ion-option >สหรัฐอเมริกา</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="regis-input">
            <ion-label>ทะเบียนรถยนต์</ion-label>
            <ion-input style="margin-bottom: -15px;" type="text" required text-right formControlName="model_license"></ion-input>
        </ion-item>
        <img class="car-progress" src="../assets/imgs/car-1.png">
        <div class="fix-button">
            <button ion-button full type="submit" (click)="goToQuestionnaire2()">
                ถัดไป
            </button>
        </div>
    </form>
</ion-content>
