<ion-content class="app-background" padding>
    <img class="app-logo" src="../assets/imgs/app-logo.png">

    <div class="signup-form">
        <form (ngSubmit)="signup()" [formGroup]="signupForm">
            <ion-item class="regis-input">
                <ion-label>Username</ion-label>
                <ion-input style="margin-bottom: -20px;" type="text" formControlName="username" text-right></ion-input>
            </ion-item>
            <ion-item class="regis-input">
                <ion-label>Email</ion-label>
                <ion-input style="margin-bottom: -20px;" type="email" formControlName="email" text-right></ion-input>
            </ion-item>
            <!--<p class="error-msg" *ngIf="signupForm.get('email').hasError('required') && signupForm.get('email').touched || signupForm.get('email').dirty">กรุณากรอกอีเมล</p>-->
            <p class="error-msg" *ngIf="signupForm.get('email').hasError('pattern') && signupForm.get('email').touched || signupForm.get('email').dirty">กรอกรูปแบบอีเมลให้ถูกต้อง</p>
            <ion-item class="regis-input">
                <ion-label>รหัสผ่าน</ion-label>
                <ion-input style="margin-bottom: -20px;" type="password" formControlName="password" text-right></ion-input>
            </ion-item>
            <!--<p class="error-msg" *ngIf="signupForm.get('password').hasError('required') && signupForm.get('password').touched || signupForm.get('password').dirty">กรุณากรอกรหัสผ่าน</p>-->
            <p class="error-msg" *ngIf="signupForm.get('password').hasError('minlength') && signupForm.get('password').touched || signupForm.get('password').dirty">กรอกรหัสผ่านอย่างน้อย 6 ตัว</p>
            <ion-item class="regis-input">
                <ion-label>ยืนยันรหัสผ่าน</ion-label>
                <ion-input style="margin-bottom: -20px;" type="password" formControlName="confirm_password" text-right></ion-input>
            </ion-item>
            <p class="error-msg" *ngIf="signupForm.controls['confirm_password'].errors?.MatchPassword">รหัสผ่านไม่ตรงกัน</p>
            <ion-item class="regis-input">
                <ion-label>เบอร์โทรศัพท์</ion-label>
                <ion-input style="margin-bottom: -20px;" type="tel" formControlName="phonenumber" text-right></ion-input>
            </ion-item>
            <ion-item class="regis-input">
                <ion-label>Line ID</ion-label>
                <ion-input style="margin-bottom: -20px;" type="text" formControlName="lineid" text-right></ion-input>
            </ion-item>
            <ion-row radio-group formControlName="gender">
                <ion-col col-4>
                    <ion-item class="group-radio">
                        เพศ
                    </ion-item>
                </ion-col>
                <ion-col col-4>
                    <ion-item class="group-radio">
                        <ion-radio value="male"  item-left></ion-radio>
                        <ion-label>ชาย</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col col-4>
                    <ion-item class="group-radio">
                        <ion-radio value="female" item-left></ion-radio>
                        <ion-label>หญิง</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <button ion-button block type="submit">
                ลงทะเบียน
            </button>
            <ion-row style="margin-top:0.3em">
                <ion-col text-center>
                    <p style="color:#000000">
                        มีบัญชีผู้ใช้เรียบร้อยแล้ว?
                        <button ion-button clear class="signin-button" type="button" color="button-color" (click)="goBackToSignIn()"><u>เข้าสู่ระบบ!</u></button>
                    </p>
                </ion-col>
            </ion-row>
        </form>
    </div>
</ion-content>
