page-signup {
    .app-background {
        background-color: white;
    }

    .app-logo {
        height: 70px;
        width: auto;
        position: absolute;
        margin-top: 30px;
        left: 50%;
        transform: translate(-50%);
    }
    .signup-form {
        margin-top: 9em;
        fieldset {
            border-radius: 5px;
            border-color: color($colors,font-color);
            legend {
                font-size: 14px;
                color: color($colors,font-color);
            }
        }
        .regis-input {
            background-color: transparent;
            border-bottom: color($colors,font-color);
            font-size: 14px;
            font-weight: 400;
            color: color($colors,font-color);
            margin-top: 0px;
            margin-left: -10px;
            ion-label {
                color: color($colors,font-color);
                font-size: 14px;
                margin-bottom: -5px;
            }
            .text-input {
                margin-right: 0px;
            }
            .select-md {
                padding: 15px 3px 0px 16px;
            }
            .select-md .select-icon .select-icon-inner {
                color: #cfedd8;
                margin-top: 2px;
            }
            .select-text {
                margin-top: 5px;
                margin-right: 5px;
            }
        }
        button[type=submit] {
            background-color: color($colors,button-color);
            font-size: 14px;
            height: 35px;
            top: 1em;
            left: 50%;
            transform: translate(-50%);
            box-shadow: none;
            font-weight: bold;
            border-radius: 50px;
        }
        button[type=submit]:hover {
            background-color: color($colors,button-color);
        }
        .signin-button {
            font-size: 14px;
            padding-bottom: 15px;
            padding-left: 1px;
        }
        .swiper-wrapper {
            margin-bottom: 30px;
        }
        .swiper-pagination-bullet-active {
            background: color($colors,font-color);
        }

        .swiper-pagination-fraction,
        .swiper-pagination-custom,
        .swiper-container-horizontal > .swiper-pagination-bullets {
            bottom: 0em;
        }
        .group-radio {
            padding-left: 3px;
            padding-top: 10px;
            background-color: transparent;
            color: color($colors,font-color);
            font-size: 14px;
            div.item-inner {
                border-bottom: none;
            }
            div.radio-icon {
                width: 16px;
                height: 16px;
                border-width: 2px;
                border-color: color($colors,font-color);
            }
            .radio-md {
                margin: 9px 10px 9px 0;
            }
        }
        .grid {
            padding: 0px;
        }
    }

    .error-msg {
        color: red;
        text-align: right;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: -20px;
        font-size: 12px;
    }

    /* iPad */
    @media only screen and (min-width : 768px) and (max-width : 1024px) {
        .app-logo {
            height: 110px;
            width: auto;
            margin-top: 50px;
        }

        .signup-form {
            margin-top: 13em;
            button[type=submit] {
                margin-top: 10px;
            }
        }
    }

    /* iPhone X */
    @media only screen and (min-width : 375px) and (max-width : 812px)
    and (-webkit-device-pixel-ratio : 3) {

    }

    /* iPhone 6, 7, 8 */
    @media only screen and (min-width : 375px) and (max-width : 667px) {

    }

    /* iPhone 6, 7, 8 Plus*/
    @media only screen and (min-width : 414px) and (max-width : 736px) {
        .app-logo {
            position: absolute;
            top: 18%;
        }
    }

    /* iPhone 5, 5s */
    @media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
        button[type=submit] {
            font-size: 14px;
            height: 35px;
        }
    }

    /* Most of smartphone */
    @media (min-width: 320px) and (max-width: 480px) {

    }
}
